* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  font-family: "StratosSkyeng", sans-serif;
  cursor: pointer;
}

.skelet{
  background-color: #ad61ff;
}
.loading_skelet{
  margin-bottom: 10px;
  gap: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border-color: rgb(157, 158, 156);
  background-color:rgb(34, 32, 32);
}

.loading_skelet_element{
 
  gap: 10px;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  width: 100%;
  height: 60px;
  
  border-color: rgb(40, 46, 41);
  background-color:rgb(28, 27, 27);
}
.square{
  width: 30%;
  height: 100%;
  background-color: gray;
}
.rectangle{
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  
  width: 70%;
  height: 100%;
  background-color: black
}
.rectangle_el{
  
  width: 100%;
  height: 50%;
  background-color: gray
}
.skeleton_rectangle{
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 100%;
  height: 30%;
  background-color: gray
}

.loading_skelet_element_small{
  margin-right: 10px;
  width: 30%;
  height: 60px;
  display: block;
  border-color: rgb(40, 46, 41);
  background-color: gray;
}
.loading_skelet_player{
 
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  border-color: rgb(7, 250, 48);
  background-color: black;
}
.loading_skelet_player-element{
 
  width: 100%;
  height: 100%;
  border-color: rgb(7, 250, 48);
  background-color: gray
}

.element_style{
background-color: #181818;
gap: 5px;
display: flex;
flex-direction: column;
}
.loading_skelet_player-small{
  height: 20px;
  width: 100%;
  background-color: gray
}


button,
._btn {
  cursor: pointer;
}

ul li {
  list-style: none;
}

@font-face {
  font-family: "StratosSkyeng";
  src: local("StratosSkyeng"), local("StratosSkyeng"),
    url("StratosSkyeng.woff2") format("woff2"),
    url("StratosSkyeng.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "StratosSkyeng", sans-serif;
  color: #ffffff;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #383838;
}

.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #181818;
}

._btn-text:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

._btn-icon:hover svg {
  fill: transparent;
  stroke: #acacac;
  cursor: pointer;
}

._btn-text:active {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}

._btn-icon:active svg {
  fill: transparent;
  stroke: #ffffff;
  cursor: pointer;
}

._btn-icon:active .track-play__like-svg,
._btn-icon:active .track-play__dislike-svg {
  fill: #696969;
  stroke: #ffffff;
  cursor: pointer;
}

.main {
 
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


.main__centerblock {

  width: auto;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  padding: 20px 40px 20px 111px;
}


.playlist-title__col {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #696969;
  text-transform: uppercase;
}

.playlist-title__svg {
  width: 12px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.col01 {
  width: 447px;
}

.col02 {
  width: 321px;
}

.col03 {
  width: 245px;
}

.col04 {
  width: 60px;
  text-align: end;
}

.playlist__item {
  width: 100%;
  display: block;
  margin-bottom: 12px;
}

.playlist__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}



.volume__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.volume__image {
  width: 13px;
  height: 18px;
  margin-right: 17px;
}

.volume__svg {
  width: 13px;
  height: 18px;
  fill: transparent;
}

.volume__progress {
  width: 109px;
}

.volume__progress-line {
  width: 109px;
}
