.skeleton_player_icon{
  
  width: 50px;
  height: 20px;
  background-color: rgb(234, 15, 15)
}

.skeleton_player_img{
  margin-right: 45px;
  margin-left: 5px;
  
  width: 10px;
  height: 50px;
  background-color: rgb(234, 15, 15)
}

.bar {

}

.bar__content {

}

.bar__player-progress {

}

.bar__player-block {

}

.bar__player {

}

.bar__volume-block {

}
.volume__content {
}
.volume__image {

}

.volume__svg {
  
}

.volume__progress {
 
}

.volume__progress-line {
  
}
.player__btn-prev,
.player__btn-play,
.player__btn-next,
.player__btn-repeat,
.player__btn-shuffle {

}

.player__btn-prev {
  
}

.player__btn-prev-svg {
  
}

.player__btn-play {
  
}

.player__btn-play-svg {

}

.player__btn-next {

}

.player__btn-next-svg {

}

.player__btn-repeat {
 
}

.player__btn-repeat-svg {

}

.player__btn-shuffle {

}

.player__btn-shuffle-svg {

}

.player__track-play {

}
.player__controls {

}
.display_no{
  display: none;
}
.display_yes{
  display: block;
}
.track__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 447px;
}

.track__title-image {
  width: 51px;
  height: 51px;
  padding: 16px;
  background: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 17px;
}

.track__title-svg {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: #4e4e4e;
}

.track__title-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.track__title-span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4e4e4e;
}

.track__author {
  width: 321px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.track__author-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: left;
}

.track__album {
  width: 245px;
}

.track__album-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #696969;
}

.track__time-svg {
  width: 14px;
  height: 12px;
  margin-right: 17px;
  fill: transparent;
  stroke: #696969;
}

.track__time-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #696969;
}








.track-play__contain {

}

.track-play__image {

}

.track-play__svg {

}

.track-play__author {

}

.track-play__author-link {

}

.track-play__album {

}

.track-play__album-link {

}

.track-play__like-dis {

}

.track-play__like,
.track-play__dislike {
  
}

.track-play__like-svg {

}

.track-play__dislike {
  
}

.track-play__dislike-svg {

}
